<div class="navbar">
  <div>
    <button
      tuiButton
      type="button"
      icon="tuiIconHome"
      size="s"
      [routerLink]="['./products']"
      class="tui-space_right-2"
    >
      Home
    </button>
    <button
      tuiButton
      type="button"
      icon="tuiIconBox"
      size="s"
      [routerLink]="['management']"
      class="tui-space_right-2"
    >
      Admin
    </button>
    <button
      tuiButton
      type="button"
      icon="tuiIconShoppingCart"
      size="s"
      [routerLink]="['cart']"
    >
      Cart
    </button>
  </div>
  <button
    tuiButton
    type="button"
    icon="tuiIconLogOut"
    size="s"
    (click)="signOut()"
  >
    Sign out
  </button>
</div>
